<div class="container">
    <h1>Sửa thông tin điện thoại</h1>
    <form action="">
        <label for="">Mã</label>
        <input type="text" class="form-control" ng-model="inputData.ma">
        <label for="">Tên</label>
        <input type="text" class="form-control" ng-model="inputData.ten">
        <label for="">Hãng sản xuất</label>
        <select class="form-control" ng-model="inputData.hang">
            <option value="Iphone">Iphone</option>
            <option value="Sam Sung">Sam Sung</option>
            <option value="Oppo">Oppo</option>    
        </select>
        <label for="">Giá</label>
        <input type="number" class="form-control" ng-model="inputData.gia">

    </form>
    <a class="btn btn-warning mt-4" ng-click="onUpdate()">Sửa</a>
</div>