.animation_container{
    display: none;
    justify-content: center;
    align-items: center;
}
.animation_content{
    display: flex;
    align-items: center;
    padding: 70px;
    border-radius: 50%;
    border-left: 2px solid rgb(113, 113, 212);
    border-right: 2px solid rgb(113, 113, 212);
    animation: spiner 0.8s ease-in-out infinite;
}
@keyframes spiner {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}