<section class="vh-100" style="background-color: #eee;">
    <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-lg-12 col-xl-11">
                <div class="card text-black" style="border-radius: 25px;">
                    <div class="card-body p-md-5">
                        <div class="row justify-content-center">
                            <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">

                                <div class="text-center profile">
                                    <i class="fa-solid fa-user"></i>
                                </div>

                                <form class="mx-1 mx-md-4">

                                    <div>
                                        <div class="d-flex flex-row align-items-center mb-2">
                                            <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                                            <div class="form-outline flex-fill mb-0">
                                                <input ng-model="student.fullname" type="text" id="form3Example3c"
                                                    class="form-control" />
                                                <label class="form-label" htmlFor="form3Example3c">FullName</label>
                                            </div>
                                        </div>
                                        <label ng-hide="error.emptyFullName" style="margin-left: 40px; color: red;"
                                            class="form-label">Họ Và Tên không được trống!</label>
                                    </div>

                                    <div>
                                        <div class="d-flex flex-row align-items-center mb-2">
                                            <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                                            <div class="form-outline flex-fill mb-0">
                                                <input ng-model="student.email" type="text" id="form3Example3c"
                                                    class="form-control" />
                                                <label class="form-label" htmlFor="form3Example3c">Your
                                                    Email</label>
                                            </div>

                                        </div>
                                        <label ng-hide="error.emptyEmail" style="margin-left: 40px; color: red;"
                                            class="form-label">Email không được trống!</label>
                                        <label ng-hide="error.validEmail" style="margin-left: 40px; color: red;"
                                            class="form-label">Email không đúng định dạng!</label>
                                    </div>

                                    <div>
                                        <div class="d-flex flex-row align-items-center mb-2">
                                            <i class="fa-solid fa-phone fa-lg me-3 fa-fw"></i>
                                            <div class="form-outline flex-fill mb-0">
                                                <input ng-model="student.phone" type="text" id="form3Example4cd"
                                                    class="form-control" />
                                                <label class="form-label" htmlFor="form3Example4cd">Phone Number</label>
                                            </div>
                                        </div>
                                        <label ng-hide="error.emptyPhone" style="margin-left: 40px; color: red;"
                                            class="form-label">Số điện thoại không được trống!</label>
                                        <label ng-hide="error.validPhone" style="margin-left: 40px; color: red;"
                                            class="form-label">Số điện thoại không đúng định dạng!</label>
                                    </div>

                                    <div class="d-flex flex-row align-items-center mb-2">
                                        <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                                        <div class="form-outline flex-fill mb-0">
                                            <input ng-model="student.gender" type="radio" name="gender" value="true">
                                            <label class="form-label" htmlFor="form3Example1c">Nam</label>
                                            <input ng-model="student.gender" type="radio" name="gender" value="false">
                                            <label class="form-label" htmlFor="form3Example1c">Nữ</label>
                                        </div>
                                    </div>

                                    <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                                        <button ng-click="handleUpdateProfile()" type="button"
                                            class="btn btn-primary btn-lg">Update
                                        </button>
                                        <button ng-click="handlerRedirectLogin()" type="button"
                                            class="btn btn-primary btn-light btn-outline-secondary"
                                            style="margin-left: 10px;">Go back
                                        </button>
                                    </div>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>