<div class="row">
    <h1 class="text-center">THÊM BÁN GIÀY</h1>
    <div class="col-sm-12">
        <form>
            <div class="mb-3 mt-3">
              <label class="form-label">ID:</label>
              <input ng-change="codeChanged()" ng-model="shoe.code" type="text" class="form-control">
              <span ng-hide="error.code" class="error">{{message.code}}</span>
            </div>
            <div class="mb-3">
              <label class="form-label">Tên:</label>
              <input ng-change="nameChanged()" ng-model="shoe.name" type="text" class="form-control">
              <span ng-hide="error.name" class="error">{{message.name}}</span>
            </div>
            <div class="mb-3">
              <label class="form-label">Hãng:</label>
              <select ng-model="shoe.brand" class="form-select">
                <option>NVM</option>
                <option>SANDAL</option>
                <option>NIKE</option>
              </select>
            </div>
            <div class="mb-3">
              <label class="form-label">Size:</label>
              <input ng-change="sizeChanged()" ng-model="shoe.size" type="text" class="form-control">
              <span ng-hide="error.size" class="error">{{message.size}}</span>
            </div>
            <div class="mb-3">
              <label class="form-label">Giá:</label>
              <input ng-change="priceChanged()" ng-model="shoe.price" type="text" class="form-control">
              <span ng-hide="error.price" class="error">{{message.price}}</span>
            </div>
            <button data-bs-toggle="modal" data-bs-target="#myModal" type="submit" class="btn btn-success">Thêm</button>
            <a href="/#!/shoe" type="submit" class="btn btn-primary">Quay Lại</a>
          </form>
    </div>
    <div class="loading-container">
      <div class="loader"></div>
    </div>
    <div class="modal fade" id="myModal">
      <div class="modal-dialog">
        <div class="modal-content">
          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title">Xác Nhận</h4>
            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
          </div>
          <!-- Modal body -->
          <div class="modal-body">
            Bạn Có Chắc Muốn Thêm Sản Phẩm Này?
          </div>
          <!-- Modal footer -->
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
            <button ng-click="handleAddShoe()" data-bs-dismiss="modal" type="submit" class="btn btn-success">Add</button>
          </div>
        </div>
      </div>
    </div>
</div>