<div class="row">
    <div class="col-sm-12">
        <form>
            <div class="mb-3 mt-3">
              <label class="form-label">Tên:</label>
              <input ng-model="product.name" type="text" class="form-control" placeholder="Enter name">
            </div>
            <div class="mb-3">
              <label class="form-label">Hãng:</label>
              <select ng-model="product.brand" class="form-select">
                <option>Iphone</option>
                <option>SAMSUNG</option>
                <option>OPPO</option>
              </select>
            </div>
            <div class="mb-3">
              <label class="form-label">Giá:</label>
              <input ng-model="product.price" type="text" class="form-control" placeholder="Enter brand">
            </div>
            <button data-bs-toggle="modal" data-bs-target="#myModal" type="submit" class="btn btn-success">Thêm</button>
            <a class="btn btn-primary" href="/#!/list-phone">Quay Lại</a>
        </form>
    </div>
    <div class="modal fade" id="myModal">
      <div class="modal-dialog">
        <div class="modal-content">
          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title">Xác Nhận</h4>
            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
          </div>
          <!-- Modal body -->
          <div class="modal-body">
            Bạn Có Chắc Muốn Thêm Sản Phẩm Này?
          </div>
          <!-- Modal footer -->
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
            <button ng-click="handleAdd()" data-bs-dismiss="modal" type="submit" class="btn btn-success">Add</button>
          </div>
        </div>
      </div>
    </div>
    <div class="animation_container">
      <div class="animation_content"></div>
    </div>
</div>