<div class="row">
    <div class="col-sm-12">
        <form>
            <div class="mb-3 mt-3">
              <label class="form-label">Tên:</label>
              <input ng-model="product.name" type="text" class="form-control" placeholder="Enter name" disabled>
            </div>
            <div class="mb-3">
              <label class="form-label">Hãng:</label>
              <select ng-model="product.brand" class="form-select" disabled>
                <option>Iphone</option>
                <option>SAMSUNG</option>
                <option>OPPO</option>
              </select>
            </div>
            <div class="mb-3">
              <label class="form-label">Giá:</label>
              <input ng-model="product.price" type="text" class="form-control" placeholder="Enter brand" disabled>
            </div>
            <a class="btn btn-primary" href="/#!/list-phone">Quay Lại</a>
        </form>
    </div>
</div>